@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');

@theme {
  --font-headline: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-label: "Manrope", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #1f0954;
  --color-primary-container: #3b1f80;
  --color-secondary: #006875;
  --color-secondary-container: #00e3fd;
  --color-tertiary: #4b00c6;
  --color-surface: #f8f9fa;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #191c1d;
  --color-on-surface-variant: #454652;
  --color-outline-variant: #c5c5d4;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans antialiased;
  }
}

.silent-grid {
  mask-image: linear-gradient(to bottom, white, transparent);
  background-image: radial-gradient(circle, #c5c5d4 1px, transparent 1px);
  background-size: 40px 40px;
}
